<ion-header>
  <ion-navbar>
    <ion-title>Product</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid style="height: 100%;justify-content: center;" *ngIf="items.length == 0">
      <ion-row>
      <ion-col text-center>
        <img src="assets/noto-emoji/png/128/emoji_u1f617.png">
        <div>Product not available!</div>
      </ion-col>
      </ion-row>
  </ion-grid>


  <ion-card class="product-card" *ngFor="let item of items">
    <div style="position: relative">
      <div class="image">
        <img *ngIf="item.thumbnail" [src]="item.thumbnail">
      </div>
      <ion-fab right top>
        <button ion-fab>
          <ion-icon name="pin"></ion-icon>
        </button>
      </ion-fab>
    </div>

    <ion-item class="detail">
      <h2>{{item.title}}</h2>
      <!--<p>ไชโย อ่างทอง (3.1 Km)</p>-->
    </ion-item>

    <ion-item class="detail-footer">
      <span item-left><p class="price">฿ {{item.price ? numberFormat(item.price) : 'ไม่ระบุ'}}</p></span>
      <button ion-button icon-left clear item-end>
        <ion-icon name="chatboxes"></ion-icon>
        Contact
      </button>
    </ion-item>

  </ion-card>

</ion-content>
