<ion-header>
  <ion-navbar>
    <ion-title>
      Setting
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid style="height: 100%;justify-content: center;" *ngIf="showSignInButton">
      <ion-row>
      <ion-col text-center>
          <div>
              <img src="assets/noto-emoji/png/128/emoji_u2639.png" alt="">
          </div>
          <button ion-button (click)="signIn()">Sign In</button>
      </ion-col>
      </ion-row>
  </ion-grid>

  <ion-list *ngIf="!showSignInButton">
    <button ion-item>
      Profile
    </button>
    <button ion-item>
      Notification
      <ion-badge item-end>10</ion-badge>
    </button>
    <button ion-item>
      My Product
      <ion-badge item-end color="light">{{countProducts}}</ion-badge>
    </button>
    <button ion-item (click)="signOut()">
      Sign Out
    </button>
  </ion-list>

</ion-content>
